@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

@theme {
  --color-primary: "#2563eb";
  --color-secondary: "#64748b";
  --color-background: "#f8fafc";
  --color-surface: "#ffffff";
  --color-text: "#0f172a";
  --color-muted: "#94a3b8";
  --color-red: "#dc2626";
}
